-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #124fb6;
--secondary: #6c757d;
--success: #28a745;
--info: #128ab6;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--breakpoint-xxl: 1400px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
font-size: 1rem;
line-height: 1.3;
text-align: left;
font-family: 'Noto Sans KR',  'Nanum Gothic', 'Helvetica', sans-serif;
font-weight: 400;
color: #333;
text-decoration: none;
margin: 0;
box-sizing: border-box;
list-style-type: none;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
width: 100%;
position: absolute;
top: 2.375rem;
left: 0;
padding: 0;
display: block;
height: 6.375rem;
background: #ff8d3f;